@using JCR.Reports.Common;
@model JCR.Reports.Models.SearchList
@{
    ViewBag.Title = Model.ReportTitle;
    Layout = "~/Views/Shared/_TracerLayout.cshtml";
}

@section slidedownsearch {
   <div class="slidedownsearch">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-9 text-center">
            @Html.Partial("Search/_ScheduledReportName")
        </div>
    </div>
    <div class="row PaddingTop10">
        <table>
            <tr width="100%">
                <td width="20%"></td>
                <td width="30%" style="vertical-align:top;">
                    @Html.Partial("Search/_TracersCategory")

                </td>
                <td width="10%"></td>
                <td style="vertical-align:bottom;" width="11%">
                    @Html.Partial("Search/_DateRange")
                </td>
                <td width="13%" style="vertical-align:top;">
                    @Html.Partial("Search/_ObservationDate")
                </td>
                <td width="20%"></td>
            </tr>
        </table>
    </div>
</div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div id="loadrdlc" class="col-md-12"> </div>
    </div>

    @Html.Partial("Search/_HiddenVariables")
    @Html.Hidden("GetRDLC", Url.Action("_GetTJCPriorityFindings", "TJCPriorityFindings"))
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("hdnReportActionID", 16)
}

@*@Url.Script("~/Scripts/Common/ReportsCommon.js")
@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Tracer/Views/TJCPriorityFindings/TJCPriorityFindings.js")
