@using JCR.Reports.Common;

@model JCR.Reports.Models.SearchList
@{  ViewBag.Title = Model.ReportTitle;
    Layout = "~/Views/Shared/_TracerLayout.cshtml"; }

@section slidedownsearch {
    <div class="slidedownsearch">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row PaddingTop10">
            <div class="col-xs-12 text-center">
                <b>Report Type</b>
                @Html.RadioButtonsForEnum(m => m.ObservationStatusReportType)
            </div>
        </div>
        <div class="row">
            <table>
                <tr width="100%">
                    <td width="20%" style="vertical-align:top;">
                        @Html.Partial("Search/_TracersCategory")
                        @Html.Partial("Search/_TracersList")
                    </td>
                    <td width="1%"></td>
                    <td width="20%" style="vertical-align:top;">
                        @Html.Partial("Search/_TracerObservationEnteredBy")
                    </td>
                    <td width="1%"></td>
                    <td width="20%" style="vertical-align:top;">
                        @Html.Partial("Search/_CampusList")
                        @Html.Partial("Search/_BuildingList")
                        @Html.Partial("Search/_DepartmentList")
                        @Html.Partial("Search/_InactiveOrgItemsCheckBox")
                    </td>
                    <td width="2%"></td>
                    <td style="vertical-align:top;" width="11%">
                        @Html.Partial("Search/_DateRange")
                    </td>
                    <td width="13%" style="vertical-align:top;">
                        @Html.Partial("Search/_ObservationDate")

                    </td>

                    <td width="20%" style="vertical-align:top;">

                        @Html.Partial("Search/_ObservationStatus")
                    </td>

                </tr>
            </table>

        </div>
    </div>
}
@using (Html.BeginForm())
{
    <div style="padding-top: 2em;">
        <div class="row">
            <div id="loadrdlc"> </div>
        </div>
    </div>

    @Html.Partial("Search/_HiddenVariables")

    @Html.Hidden("GetRDLC", Url.Action("_TracerObservationStatus", "TracerObservationStatus"))
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("hdnReportActionID", 19)

}

@*@Url.Script("~/Scripts/Common/ReportsCommon.js")
@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Tracer/Views/TracerObservationStatus/TracerObservationStatus.js")

<style type="text/css">
    #divrangeobs {
        margin-top: -15px;
    }
</style>