@using JCR.Reports.Common;
@model JCR.Reports.Models.CorporateSearchList

@{
    ViewBag.Title = Model.ReportTitle;
}

<style type="text/css">
    .k-progress-status-wrap {
        background-color: #C61835;
    }

    .k-state-selected .k-progress-status-wrap {
        background-color: #5bb346;
    }

    .k-state-selected .k-progressbar .k-progress-status-wrap {
        background-color: #C61835;
    }

    .k-state-selected .k-state-selected .k-progress-status-wrap {
        background-color: #5bb346;
    }

    .progress {
        margin-bottom: 0px;
    }

    .k-progress-status-wrap, .k-rtl .k-progressbar-reverse.k-progressbar-horizontal .k-progress-status-wrap {
        text-align: left;
        color: white;
    }

    .myHoverClass tbody tr:hover {
        background: #c4ddfc;
    }

    .modal-header .close {
        margin-top: 2px;
    }

    .modal-header {
        text-align: center;
    }

    #ObservationDate {
        margin-top: -28px !important;
    }

    #divrangeobs {
        margin-top: -15px;
    }

    #divMultiSiteAssignedTo {
        margin-top: 20px;
    }

    label[for=rdIndividual],
    label[for=rdPreliminary],
    label[for=rdBoth],
    label[for=SatisfactoryCheckbox],
    label[for=InsufficientCheckbox],
    label[for=NotApplicableCheckbox],
    label[for=NotScoredCheckbox] {
        font-weight: normal;
        margin-bottom: 0px;
    }
</style>

@section slidedownsearch {
    <div class="slidedownsearch content-fluid">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div>
                    <b>Report Type:</b>
                    <input type="radio" checked="checked" value="Graph" id="GraphReport" name="ReportTypeChange" onclick="OnReportTypeChange();">Graph
                    <input type="radio" value="ExcelView" id="Excel" name="ReportTypeChange" onclick="OnReportTypeChange();">Excel View
                </div>
            </div>
        </div>
        <div class="row PaddingTop10">
            <div class="col-xs-3">
                <div id="divMultiSiteProgram"></div>
                <div id="divMultiSiteChapter"></div>
                <div id="divMultiSiteStandard"></div>
                <div class="text-left">
                    <h6 id="typeOfObservationAlert"><i>*Select Chapter to display Standard.</i></h6>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="row" style="margin-top: 8px;">
                    <div class="col-xs-6">
                        <b>Assignment Type</b>
                        <div>
                            <input id="rdIndividual" type="radio" name="grpScoreType" value="1"><label for="rdIndividual">Individual</label>
                        </div>
                        <div>
                            <input id="rdPreliminary" type="radio" name="grpScoreType" value="2" checked><label for="rdPreliminary">Preliminary</label>
                        </div>
                        <div>
                            <input id="rdBoth" type="radio" name="grpScoreType" value="-1" disabled="disabled"><label for="rdBoth">Both</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <b>Score Value</b>
                        <fieldset id="fsScoreVlues" class="fieldset" style="height: 70px; padding: 0px 3px 5px 0px;">
                            <input id="SatisfactoryCheckbox" name="grpScoreValue" style="margin-right: 4px;" type="checkbox" value="2" checked="checked"><label for="SatisfactoryCheckbox">Satisfactory</label><br />
                            <input id="InsufficientCheckbox" name="grpScoreValue" style="margin-right: 4px;" type="checkbox" value="0" checked="checked"><label for="InsufficientCheckbox">Insufficient</label><br />
                            <input id="NotApplicableCheckbox" name="grpScoreValue" style="margin-right: 4px;" type="checkbox" value="6" checked="checked"><label for="NotApplicableCheckbox">Not Applicable</label><br />
                            <input id="NotScoredCheckbox" name="grpScoreValue" style="margin-right: 4px;" type="checkbox" value="99" checked="checked"><label for="NotScoredCheckbox">Not Scored</label>
                        </fieldset>
                    </div>
                </div>
                <div class="row" id="divMultiSiteAssignedTo"></div>

            </div>

            <div class="col-xs-4">
                @Html.Partial("Search/_CorpSurveyDateRange")
            </div>

            <div class="col-xs-2">
                <h6>
                    <b>
                        Filter By
                    </b>
                </h6>

                <input id="chkOnlyIncludeFSAEPs" style="float: left; margin-right: 4px;" type="checkbox" name="grpFilterBy" value="1">Only Include FSA EPs
                <br><br>
                <input id="chkDocumentationRequired" style="float: left; margin-right: 4px;" type="checkbox" name="grpFilterBy" value="2">Documentation required
                <br><br>
                <input id="chkNewChangedEPs" style="float: left; margin-right: 4px;" type="checkbox" name="grpFilterBy" value="3">New/Changed EPs
            </div>


        </div>

    </div>
}
@using (Html.BeginForm())
{

    <div class="row">

        <div id="loadChartView" class="col-md-12">

        </div>
        <div id="LoadDetailView" class="col-md-12">

        </div>
        <div id="LoadSummaryView" class="col-md-12">

        </div>
    </div>

    <div id="divDetail" style="display: none; cursor: default;"></div>

    <script type="text/x-kendo-template" id="DocumentTemplate">
        <div id="details-container" style="width: 98%;">
            <dl>
                <dt class="row text-center"><b>#if (HCOID == null) {# SiteID:#= SiteID ##} else {# HCOID:#= HCOID # #}#/#=ProgramCode#: #= StandardLabel #/EP:#= EPLabel #</b></dt>
                <dt><br /><u><b>Organizational Findings</b></u>#if (Findings == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=Findings#</span> #}# </dt>
                <dt><br /><u><b>Plan of Action</b></u>#if (POA == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=POA#</span> #}# </dt>
                <dt><br /><u><b>Sustainment Plan</b></u>#if (MOS == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=MOS#</span> #}# </dt>
                <dt><br /><u><b>Internal Notes</b></u>#if (OrgNotes == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=OrgNotes#</span> #}# </dt>
                <dt><br /><u><b>Plan of Action Compliant Date</b></u>#if (CompliantDate == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=CompliantDate#</span> #}# </dt>
                <dt><br /><u><b>Linked Documents</b></u>#if (DocumentList == null) {# #=''# #} else {#<br /><span style="font-weight: normal; white-space: pre-wrap;">#= DocumentList #</span> #}# </dt>

                <dt class="row text-center"><button type="button" id="btnPrint" class="btn btn-primary" onclick="javascript: OnPrintDocumentation();"> Print Content </button></dt>
            </dl>
        </div>
    </script>
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("SiteSelector_SelectedHCOIDs")
    @Html.Hidden("hdnReportActionID", 51)
}
@*@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Corporate/Views/AssignmentStatusByUser/AssignmentStatusByUser.js")

<script type="text/javascript">
    $(window).load(function () {
        if ($('#hdnSitesCount').val() == 1)
        { LoadReportParameters(); }
    });
</script>

