@using JCR.Reports.Common;
@model JCR.Reports.Models.SearchList
@{
    ViewBag.Title = Model.ReportTitle;
    Layout = "~/Views/Shared/_TracerLayout.cshtml";
}

@section slidedownsearch {
    <div class="slidedownsearch">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row PaddingTop10">
            <div class="col-xs-12 text-center">
                <b>Report Type</b>
                @Html.RadioButtonsForEnum(m => m.ReportTypeExcel)
            </div>
        </div>
        <br />
        <div class="row">
            <table>
                <tr width="100%">
                    <td width="25%" style="vertical-align:top;">

                @Html.Partial("Search/_TracersCategory")
                    </td>
                    <td width="3%"></td>
                    <td width="25%" style="vertical-align:top;">

                @Html.Partial("Search/_ChaptersList")
                @Html.Partial("Search/_CMSTagsList")
                <div class="text-left">
                    <h6 id="typeOfObservationAlert"><i>*Tags with only completed observations are displayed.</i></h6>
                </div>
                    </td>
                    <td width="3%"></td>
                    <td style="vertical-align:bottom;" width="11%">
                        @Html.Partial("Search/_DateRange")
                    </td>
                    <td width="13%" style="vertical-align:top;">
                @Html.Partial("Search/_ObservationDate")
                    </td>
                    <td width="20%" style="vertical-align:top;">
                <div><h6><b>Question Criteria</b></h6></div>                
                @Html.Partial("Search/_NonCompliantPercentage", new ViewDataDictionary { { "checktext", "Only include less than " } })


                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 text-center" id="complianceDetail" style="display:none;">
            @(Html.Kendo().Button()
                                .Name("btnBacktoChart")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-primary btn-sm  focusButton" })
                            .Content("<span class='glyphicon glyphicon-arrow-left'></span><span>&nbsp;</span><span class='glyphfontsize'>Go Back to Graph</span>")
            )
        </div>
    </div>
    <div class="row">
        <div id="loadChartView" class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div id="loadAview" class="col-xs-12">

        </div>
    </div>


    @Html.Partial("Search/_HiddenVariables")
    @Html.Hidden("TracersChaptersUpdate", Url.Action("GetTracersChapters", "Search", new { area = "" }))
    @Html.Hidden("TracersCMSUpdate", Url.Action("GetTracersCMS", "Search", new { area = "" }))
    @Html.Hidden("GetRDLC", Url.Action("_TracerByCMS", "TracerByCMS"))
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("hdnReportActionID", 28)
}

@*@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Tracer/Views/TracerByCMS/TracerByCMS.js")

<style type="text/css">
    .k-progress-status-wrap {
        background-color: #C61835;
    }

    .k-state-selected .k-progress-status-wrap {
        background-color: #5bb346;
    }

    .k-state-selected .k-progressbar .k-progress-status-wrap {
        background-color: #C61835;
    }

    .k-state-selected .k-state-selected .k-progress-status-wrap {
        background-color: #5bb346;
    }

    .progress {
        margin-bottom: 0px;
    }

    .k-progress-status-wrap, .k-rtl .k-progressbar-reverse.k-progressbar-horizontal .k-progress-status-wrap {
        text-align: left;
        color: white;
    }

    #gridCompQuesChart tbody tr:hover {
        background: #c4ddfc;
    }

    .modal-header .close {
        margin-top: 2px;
    }

    .modal-header {
        text-align: center;
    }

    #divrangeobs {
        margin-top: -15px;
    }
</style>



