@using JCR.Reports.Common;
@model JCR.Reports.Models.SearchList
@{
    ViewBag.Title = Model.ReportTitle;
    Layout = "~/Views/Shared/_TracerLayout.cshtml";

}

@section slidedownsearch {
    <div class="slidedownsearch">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row PaddingTop10">
            @*Column 1*@
            <div class="col-xs-3 col-md-3 col-lg-3" style="margin-top: -12px; ">
                <br />
                <b>Question Selection</b>
                @Html.Partial("Search/_LeastCompliantQuestions")
            </div>

            @*Column 2*@
            <div class="col-xs-2 col-md-2 col-lg-2" style="margin-top:-2px;">
                @Html.Partial("Search/_CampusList")
                @Html.Partial("Search/_BuildingList")
                @Html.Partial("Search/_DepartmentList")
                @Html.Partial("Search/_InactiveOrgItemsCheckBox")
            </div>

            @*Column 3*@
            <div class="col-xs-3 col-md-3 col-lg-3" >
                <div class="row">
                    <div class="col-xs-5" style="margin-top:34px">
                        @Html.Partial("Search/_DateRange")
                    </div>
                    <div class="col-xs-7" style="margin-top:-10px">
                        @Html.Partial("Search/_ObservationDate")
                    </div>
                </div>

            </div>

            @*Column 4*@
            <div class="col-xs-4 col-md-4 col-lg-4">
                <div>
                    <h6>
                        <b>Question Criteria</b>
                    </h6>
                </div>
                                @Html.Partial("Search/_MinimumDenominatorValue")

                                @Html.Partial("Search/_IncludeHavingCompliance")
            </div>
        </div>
    </div>
}
@using (Html.BeginForm())
{

    <div class="row">
        <div class="row text-center" id="rptTypeRadio" style="width:100%; top:0px; position:absolute;">
            <div class="col-xs-12 text-center" style="z-index:200;  width:70vw; left:20vw;">
                <b style="margin-top:-10px;">View:</b>
                <label id="lblL1Graph" style="font-weight: normal; margin-top: 10px; margin-left: 10px;">
                    <input type="radio" style="float: left;" name="rptType" value="GraphOnly" checked>

                    <label id="inputL1Graph" style="margin-top:3px"><span class="glyphicon glyphicon-stats" style="margin-right:3px;"></span>Graph</label>
                </label>
                <label id="lblL1Data" style="font-weight: normal; margin-top: 10px; ">
                    <input type="radio" style="float: left; " name="rptType" value="Data">
                    <label id="inputL1Data" style="margin-top:3px"><span class="glyphicon glyphicon-align-justify" style="margin-right:3px;"></span>Data</label>
                </label>

            </div>
        </div>
        <div id="loadAview" class="col-xs-12" >

        </div>

        <div id="loadChartView" class="col-xs-12">

        </div>
    </div>
    @Html.Partial("Search/_HiddenVariables")
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("hdnReportActionID", 13)
    @Html.Hidden("GetRDLC", Url.Action("_MonthlyQuestionBreakdown", "MonthlyQuestionBreakdown"))
    @Html.Hidden("GetChart", Url.Action("_MonthlyQuestionBreakdownChart", "MonthlyQuestionBreakdown"))
}
@*@Url.Script("~/Scripts/Common/ReportsCommon.js")
@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Tracer/Views/MonthlyQuestionBreakdown/MonthlyQuestionBreakdown.js")

<style>
    /*.navbar-static-top {
        z-index: 0;
    }*/
    .modal-header .close {
        margin-top: 2px;
    }

    .modal-header {
        text-align: center;
    }

    #divdaterange {
        margin-top: -36px;
    }

    #divrangeobs {
        margin-top: -15px;
    }
</style>





