@using JCR.Reports.Common;
@model JCR.Reports.Models.CorporateSearchList
@{
    ViewBag.Title = Model.ReportTitle;

}

@section slidedownsearch {
    <div class="slidedownsearch content-fluid">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <br />
                <b>Report Level:</b>
                <input type="radio" checked="checked" value="Summary" id="SummaryReport" name="ReportLevelChange">Summary
                <input type="radio" value="Detail" id="DetailReport" name="ReportLevelChange">Detail
                <input type="radio" value="ExcelView" id="ExcelViewReport" name="ReportLevelChange">Excel View
                &nbsp;&nbsp;<label id="IncludeTJC" style="font-weight:normal;"><input id="IncludeTJCCheckbox" name="IncludeTJCCheckbox" style="float: left; margin: 0px;" type="checkbox" disabled="disabled">Include TJC Crosswalk</label>
            </div>
        </div>

        <div class="row" style="margin-top:5px;">

            <div class="col-xs-3 text-left">
                <div id="divMultiSiteProgram"></div>
                <div id="divMultiSiteCoP"></div>
                <div id="divMultiSiteTag"></div>
                <div class="text-left">
                    <h6 id="typeOfObservationAlert"><i>*Select CoP to display Standard.</i></h6>
                </div>
            </div>

            <div class="col-xs-3 checkbox text-left" id="divEPScores">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div id="divMultiSiteIdentifiedBy"></div>
                        </div>
                    </div>
                </div>
                <div class="row" id="divScoringPeriod">@Html.Partial("Search/_ScoringPeriod")</div>
            </div>
            <div class="col-xs-3 checkbox text-left" id="divEPScoreValues">
                <div class="row">
                    <b>Compliance Value</b>
                    <fieldset id="fsScoreVlues" class="fieldset">
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="ComplaintCheckbox" type="checkbox" value="2" checked="checked">Compliant</label><br />
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="StandardLevelDeficiencyCheckbox" type="checkbox" value="1" checked="checked">Standard Level Deficiency</label><br />
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="ConditionLevelDeficiencyCheckbox" type="checkbox" value="0" checked="checked">Condition Level Deficiency</label><br />
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="ImmediateJeopardyCheckbox" type="checkbox" value="1000" checked="checked">Immediate Jeopardy</label><br />
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="NotApplicableCheckbox" type="checkbox" value="6" checked="checked">Not Applicable</label><br />
                        <label style="font-weight:normal;"><input name="ComplianceValue" id="IncludeitemsNotReviewedCheckbox" type="checkbox" value="99">Include items Not Reviewed</label>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-3 checkbox text-left" id="divEPScoringFilters">
                <div class="row" style="height: 17px;margin-top: -8px;">
                    <b>Documentation</b>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td class="DocumentationDropDownStyle">
                                <div id="divPlanOfCorrection"></div>
                            </td>
                            <td>
                                Plan of Correction
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td class="DocumentationDropDownStyle">
                                <div id="divOrgCMSFindings"></div>
                            </td>
                            <td>
                                Org CMS Findings
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td class="DocumentationDropDownStyle">
                                <div id="divCMSSurveyorFindings"></div>
                            </td>
                            <td>
                                CMS Surveyor Findings
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row" style="visibility:hidden;">
                    <table>
                        <tr>
                            <td class="DocumentationDropDownStyle">
                                <div id="divLinkedDocs"></div>
                            </td>
                            <td>
                                Linked Documents
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
}
@using (Html.BeginForm())
{
    <div class="panel panel-default" id="divL1tag" style="border-color: #428bca !important; width:100%; display: none;">
        <div class="row" id="divExportToExcel">
            <div class="col-xs-12">
                <table style="width:100%; margin: 5px;">
                    <tr>
                        <td style="width:25%;" align="left">
                            @(Html.Kendo().Button()
                                    .Name("exportoexcel")
                                    .HtmlAttributes(new { type = "button", @class = "k-button" })
                                            .Content("<span class='k-icon k-i-excel'></span><span>&nbsp;</span><span class='glyphfontsize'>Export to Excel</span>")
                            )

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="loadrdlc" class="col-md-12" style="padding-left: 0;"></div>
                <div id="loadExcelGrid"></div>
                <div class="col-md-12">
                    <span id="divAutoCitationTextArea"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="divDetail" style="display: none; cursor: default;"></div>

    <script type="text/x-kendo-template" id="DocumentTemplate">
        <div id="details-container" style="width: 98%;">
            <dl>
                <dt class="row text-center"><b>#if (HCOID == null) {# SiteID:#= SiteID ##} else {# HCOID:#= HCOID # #}#/#=ProgramCode#: #= TagName #/#= CopStandard #</b></dt>
                #if (AutoCitationTagText == '') {# #=''# #} else { #<dt><br /><span style="font-weight: normal;">#=AutoCitationTagText#</span></dt> #}#
                <dt><br /><u><b>Organizational CMS Findings</b></u>#if (OrgCMSFindings == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=OrgCMSFindings#</span> #}# </dt>
                <dt><br /><u><b>Plan of Correction</b></u>#if (POC == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=POC#</span> #}# </dt>
                <dt><br /><u><b>Plan of Action Compliant Date</b></u>#if (CompliantDate == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=CompliantDate#</span> #}# </dt>
                <dt><br /><u><b>CMS Surveyor Findings </b></u>#if (CSF == null) {# #=''# #} else {#<br /><span style="font-weight: normal;">#=CSF#</span> #}# </dt>
                @*<dt><br /><u><b>Linked Documents</b></u>#if (DocumentList == null) {# #=''# #} else {#<br /><span style="font-weight: normal; white-space: pre-wrap;">#= LinkedDocumentList #</span> #}# </dt>*@

                <dt class="row text-center"><button type="button" id="btnPrint" class="btn btn-primary" onclick="javascript: OnPrintDocumentation();"> Print Content </button></dt>
            </dl>
        </div>
    </script>
    @Html.Partial("Search/_HiddenVariables")
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("SiteSelector_SelectedHCOIDs")
    @Html.Hidden("hdnReportActionID", 95)


}

@*@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Corporate/Views/CMSCompliance/CMSCompliance.js")

<style type="text/css">
    #divdaterange {
        margin-top: -36px;
    }

    #divrangeobs {
        margin-top: -15px;
        width: 40%;
    }
</style>

<style type="text/css">
    @@media print {
        body > * {
            display: none !important;
        }

        body > .k-window {
            display: block !important;
            position: relative !important;
            top: auto !important;
            left: auto !important;
            width: auto !important;
            height: auto !important;
            border-width: 0;
            box-shadow: none !important;
        }

        .k-window .k-window-titlebar, #btnPrint {
            display: none;
        }
    }
</style>

<script type="text/javascript">
    $(window).load(function () {
        if ($('#hdnSitesCount').val() == 1) {
            LoadReportParameters($('#hdnSingleSiteID').val());
        }
    });
</script>
