@model JCR.Reports.Models.TracerDepartmentAssignmentInput
@{

    IList<string> frequencyList = null;
    if (Model.FrequencyName != null)
    {
        if (Model.FrequencyName == "All")
        {
            frequencyList = Model.DefaultFrequencyNames;
        }
        else { frequencyList = Model.FrequencyName.Split(',').ToList(); }
    }
}

<style type="text/css">
    /*#displayloading {
        top: 50%;
        left: 50%;
    }*/

    #lblL1Data {
        margin-left: 10px;
    }

     #gridTracer  .k-icon.k-i-close{
    display:none;
    } 
    #gridTracer  .k-icon.k-i-sort-asc-sm {
    display:none;
    }
    .k-i-arrow-s, .k-i-arrow-60-down {
        margin-top: 0px;
    }
    #gridTracer {
        padding: 0;
    }

    .caretInverse {
        transform: rotate(180deg);
    }
    #gridTracer >.k-grid-header .k-header > .k-link {
        cursor:default;

}
    .frequencyListDetailsSelect {
        position: absolute;
        z-index: 2;
        margin: 0 !important;
        float: left !important;
        padding: 0 !important;
    }

        .frequencyListDetailsSelect .panel-footer {
            padding: 0;
        }

        .frequencyListDetailsSelect .panel-group {
            margin-bottom: 0 !important;
        }

        .tracerScheduleprogramSelect .panel-body {
            padding: 0 !important;
            margin: 0 !important;
        }

        .frequencyListDetailsSelect .panel-heading {
            padding-left: 5px !important;
        }

        .frequencyListDetailsSelect .panel.noborder {
            border: none;
            box-shadow: none;
        }

        .frequencyListDetailsSelect .programElement {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-color: lightgray;
            padding: 10px;
        }

    [role~="presentation"] {
        border: 1px solid #e6e6e6;
        cursor: pointer;
    }

    .nav-pills > li > a {
        border-radius: 2px;
    }

    .nav-pills {
        display: inline-block;
    }

    .disabled-linkb, .disabled-linkb:hover, .disabled-linkb-adv:hover, .disabled-linkb-adv {
        text-decoration: none;
        color: #333333;
    }

    .disabled-linkb-adv {
        padding-left: 30px;
    }

        .disabled-linkb-adv:hover {
            padding-left: 30px;
        }

    .progSelectArrowSpacing {
        margin-right: 10px;
    }

    #tracerColumnExtendMsg {
        color: red;
        text-align: center;
    }
    #recordStatusMsg {
        color: red;
        text-align: center;
    }
    .exportoexcelTDS {
        padding:10px 0 0 10px;
    }
    .k-group-footer, .k-footer-template {
        font-size: 14px;
    }
</style>


<!--[if IE 8]>
<style>   #lblL1Data {
        margin-left: 30px;
    }</style>
<![endif]-->

<div class="panel panel-default " id="divL1tag" style="border-color:#428bca !important; width:100%;">

    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-left exportoexcelTDS">
                @(Html.Kendo().Button()
                        .Name("exportoexcelTDS")
                        .HtmlAttributes(new { type = "button", @class = "k-button " })
                                .Content("<span class='k-icon k-i-excel'></span><span>&nbsp;</span><span class='glyphfontsize'>Export to Excel</span>")
                                    .Events(e => e.Click("ERExcelExportByTSData"))
                )
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 text-center">
                <span id="spanSelParameters2" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters3" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters4" style="font-weight:bold;font-size:small;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <span id="spanSelParameters5" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span id="spanSelParameters6" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters7" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters8" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters9" style="font-weight:bold;font-size:small"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center ">
                <span id="spanSelParameters10" style="font-weight:bold;font-size:small;color:red"></span>
            </div>
        </div>
        <br />
    </div>


    <div class="col-xs-12 text-center">
        <ul class="nav nav-pills" id="frequencyListDetailsSelect">

            @if (frequencyList != null)
            {
                foreach (var frequencyName in frequencyList)
                {
                    if (Model.ActiveFrequencyName == frequencyName.Trim())
                    {
                        <li role="presentation" class="active" id="@frequencyName.Trim()">
                            <a class="disabled-linkb" onclick="onDepartAssignmentMenuItemSelect('@frequencyName.Trim()')">@frequencyName.Trim()</a>
                        </li>
                    }
                    else
                    {
                        <li role="presentation" id="@frequencyName.Trim()">
                            <a class="disabled-linkb" onclick="onDepartAssignmentMenuItemSelect('@frequencyName.Trim()')">@frequencyName.Trim()</a>
                        </li>

                    }
                }
            }
        </ul>
    </div>
    <div class="row" id="recordStatusMsg"> </div>
    <div class="row" id="tracerColumnExtendMsg"> </div>
    <div id="gridTracer" class="col-xs-12"></div>
    

</div>



 