@using JCR.Reports.Common;
@model JCR.Reports.Models.SearchList
@{
    ViewBag.Title = Model.ReportTitle;
    Layout = "~/Views/Shared/_TracerLayout.cshtml";
}
@section slidedownsearch {
    <div class="slidedownsearch">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9 text-center">
                @Html.Partial("Search/_ScheduledReportName")
            </div>
        </div>
        <div class="row PaddingTop10">
            <div class="col-xs-12 text-center">
                <b>Report Type</b>
                @Html.RadioButtonsForEnum(m => m.ReportTypeNoExcel)
            </div>
        </div>
        <div class="row">

            <table >

                <tr width="100%">
                    <td style="vertical-align:top" width="30%">
                        @Html.Partial("Search/_TracersCategory")
                        @Html.Partial("Search/_TopFindings")
                    </td>
                    <td width="10%"></td>
                    <td style="vertical-align:bottom;" width="11%">
                        @Html.Partial("Search/_DateRange")
                    </td>
                    <td width="13%" style="vertical-align:top;">
                        @Html.Partial("Search/_ObservationDate")
                    </td>
                    <td width="10%"></td>
                    @if (!AppSession.IsCertificationProgram)
                    {
                        <td style="vertical-align:top" width="25%">
                            <div><h6><b>Question Criteria</b></h6></div>
                            @Html.Partial("Search/_IncludeCMS")
                        </td>
                    }
                    else
                    {
                        <td style="vertical-align:top" width="25%"></td>
                    }
                </tr>
            </table>
           
        </div>
    </div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div id="loadrdlc" class="col-md-12"> </div>
    </div>

    @Html.Partial("Search/_HiddenVariables")
    @Html.Hidden("GetRDLC", Url.Action("_GetOrgPriorityFindings", "OrganizationPriorityFindings"))
    @Html.Hidden("hdnReportTitle", Model.ReportTitle)
    @Html.Hidden("hdnReportActionID", 15)
}
@*@Url.Script("~/Scripts/Common/ReportsCommon.js")
@Url.Script("~/Scripts/Common/SaveAndSchedule.js")*@
@Url.Script("~/Areas/Tracer/Views/OrganizationPriorityFindings/OrgPriorityFindings.js")

@*<style type="text/css">
    #divdaterange {
margin-top:36px;
    }
</style>*@
