
@model List<int>
@using JCR.Reports.Common;

@{
    // _SiteSelectorSite: partial view to display checkbox and site name
    //
    // Used as the format for Checkbox and Site Name and Address display
    //
    // A list of site ids to display are used.  Site Id's must be accessible to the
    // logged on user.
    //

    string margin = ViewBag.SiteMargin;

    foreach (var siteID in Model)
    {
        var site = AppSession.Sites.Where(s => s.SiteID == siteID && s.IsTracersAccess == 1).FirstOrDefault();
        if (site != null)
        {
            <div class="site" style="margin-left: @margin; padding: 0px; display: none; width:860px;">
                @{
            var sid = "siteitem_" + site.SiteID.ToString();
            var sitelabel = site.SiteFullName;
            <input class="sitecheck" type="checkbox" data-value="@site.SiteID.ToString()" data-name="@site.SiteName" name="@sid" id="@sid" value="@site.SiteID.ToString()" />
                    <label class="sitelabel" style="font-family: Verdana, Geneva, sans-serif;color:navy;" data-value="@sid">@sitelabel</label>
                }
            </div>
        }
    }
}

